header {
  background-color: rgb(255, 255, 255);
  font-family: gordita;
}

section {
  background-color: rgb(255, 255, 255);
}

img {
  width: 100%;
  height: 100%;
  filter: blur(2px);
}

a:hover img {
  filter: blur(0px);
}

h2 {
  text-align: center;
}
h3 {
  text-align: right;
}

.infografía {
  width: 100%;
}
.revista {
  width: 100%;
}

.libros {
  width: 100%;
}

.flex1 {
  display: flex;
}
.flex2 {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  justify-content: space-between;
}
.flex3 {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  justify-content: center;
}
