.navbar {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.carousel-caption{font-weight: bold;
text-align: justify;}

p{font-size: 12px;}
body{background-color:black ;}

.smtext{font-size: 5px;}


